<html>
    <h2> Search Complete </h2>
    <h5> Displaying Raw Data as POC </h5>
    <p><b> User: </b></p>
    <%= params[:user] %>
    <p><b>Repo: </b></p>
    <%= params[:repo] %>
    <p><b>Data: </b></p>

    <%= @repo.inspect %>



</html>
