$cloud: #ECF0F1;
$graystone: #333;
$primary-font: Montserrat, sans-serif;
$shamrock: #2ECC71;
$emerald: #27AE60;

body {
  background: $cloud;
  font-family: $primary-font;
}

.important {
  font-weight: 600;
}
h1, h2 {
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 130px;
  text-align: center;
}
.search-h1{
  font-size: 100px;
  font-weight: 700;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 0px;
}
.search-h2{
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  line-height: 10px; 
  padding-bottom: 70px;
}

.center {
  margin: 0 auto;
  padding: 40px;
}

.graystone {
  background: $graystone;
}

.graystone-text {
  color: $graystone;
}

.shamrock {
  background: $shamrock;
}

.shamrock-text {
  color: $shamrock;
}

.cloud {
  background: $cloud;
}

.cloud-text {
  color: $cloud;
}

.emerald {
  background: $emerald;
}

.emerald-text {
  color: $emerald;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-helper-hidden {
    diplay: none;
}

.chart{
}
