$cloud: #ECF0F1;
$graystone: #333;
$primary-font: Montserrat, sans-serif;
$shamrock: #2ECC71;
$emerald: #27AE60;

body {
  background: $cloud;
  font-family: $primary-font;
}

.important {
  font-weight: 600;
}
h1, h2 {
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 130px;
  text-align: center;
}
.search-h1{
  font-size: 100px;
  font-weight: 700;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 0px;
}
.search-h2{
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  line-height: 10px; 
  padding-bottom: 70px;
}

.center {
  margin: 0 auto;
  padding: 40px;
}

.graystone {
  background: $graystone;
}

.graystone-text {
  color: $graystone;
}

.shamrock {
  background: $shamrock;
}

.shamrock-text {
  color: $shamrock;
}

.cloud {
  background: $cloud;
}

.cloud-text {
  color: $cloud;
}

.emerald {
  background: $emerald;
}

.emerald-text {
  color: $emerald;
}
